openapi: 3.0.1
info:
  title: 대빵 언니 API 서버 API 명세서
  description: 대빵 언니 API 서버 명세서입니다.
  version: 1.0.0
servers:
- url: https://api.daebbang-sister.shop
  description: 운영 서버
- url: http://localhost:8080
  description: 로컬 개발 서버
tags: []
paths:
  /v1/addresses:
    get:
      tags:
      - Address
      summary: 주소 목록 조회
      description: 인증된 회원의 전체 주소 목록을 조회합니다.
      operationId: address/get-addresses
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressListResponse'
              examples:
                address/get-addresses:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주소 목록 조회에\
                    \ 성공하였습니다.\",\"data\":[{\"addressId\":null,\"alias\":\"집\",\"\
                    receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\",\"\
                    zipCode\":\"12345\",\"address\":\"서울시 강남구 테헤란로\",\"detailAddress\"\
                    :\"101호\",\"isDefault\":true},{\"addressId\":null,\"alias\":\"\
                    집\",\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                    ,\"zipCode\":\"12345\",\"address\":\"서울시 강남구 테헤란로\",\"detailAddress\"\
                    :\"101호\",\"isDefault\":false}]}"
                address/get-addresses-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주소 목록 조회에\
                    \ 성공하였습니다.\",\"data\":[]}"
    post:
      tags:
      - Address
      summary: 주소 등록
      description: "새로운 배송지를 등록합니다. 최대 5개까지 등록 가능하며, isDefault가 true이면 기존 기본 배송지가\
        \ 해제됩니다."
      operationId: address/add-address
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AddressSaveRequest'
            examples:
              address/add-address:
                value: "{\"address\":\"서울시 강남구 테헤란로\",\"isDefault\":true,\"alias\"\
                  :\"집\",\"zipCode\":\"12345\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"receiver\":\"홍길동\",\"detailAddress\":\"101호\"}"
              address/add-address-limit-exceeded:
                value: "{\"receiver\":\"홍길동\",\"zipCode\":\"12345\",\"isDefault\"\
                  :false,\"receiverPhoneNumber\":\"010-1234-5678\",\"address\":\"서\
                  울시 강남구 테헤란로\",\"detailAddress\":\"101호\"}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
              examples:
                address/add-address:
                  value: "{\"success\":true,\"status\":201,\"message\":\"새 주소 등록에\
                    \ 성공하였습니다.\",\"data\":null}"
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                address/add-address-limit-exceeded:
                  value: "{\"success\":false,\"status\":409,\"message\":\"주소록은 최대\
                    \ 5개까지 등록 가능합니다.\",\"data\":null}"
  /v1/carts:
    get:
      tags:
      - Cart
      summary: 장바구니 조회
      description: 로그인한 회원의 장바구니를 커서 기반 페이지네이션으로 조회합니다. cursor 생략 시 최신 항목부터 반환합니다.
      operationId: cart/get-carts-
      parameters:
      - name: cursor
        in: query
        description: 마지막으로 조회한 cartId (첫 페이지 요청 시 생략)
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: "페이지 크기 (기본값: 8)"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartPageResponse'
              examples:
                cart/get-carts-first-page:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"carts\":[{\"cartId\":10,\"productId\":100,\"\
                    productDetailId\":500,\"quantity\":1,\"productName\":\"테스트 상품\"\
                    ,\"originalPrice\":30000,\"discountPrice\":30000,\"discountRate\"\
                    :null,\"color\":\"블랙\",\"size\":\"M\",\"mainImageUrl\":\"https://example.com/image.jpg\"\
                    },{\"cartId\":9,\"productId\":100,\"productDetailId\":500,\"quantity\"\
                    :1,\"productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :8,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :7,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :6,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :5,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :4,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :3,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"}],\"nextCursor\"\
                    :3,\"hasNext\":true}}"
                cart/get-carts-last-page:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"carts\":[{\"cartId\":3,\"productId\":100,\"\
                    productDetailId\":500,\"quantity\":1,\"productName\":\"테스트 상품\"\
                    ,\"originalPrice\":30000,\"discountPrice\":30000,\"discountRate\"\
                    :null,\"color\":\"블랙\",\"size\":\"M\",\"mainImageUrl\":\"https://example.com/image.jpg\"\
                    },{\"cartId\":2,\"productId\":100,\"productDetailId\":500,\"quantity\"\
                    :1,\"productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"},{\"cartId\"\
                    :1,\"productId\":100,\"productDetailId\":500,\"quantity\":1,\"\
                    productName\":\"테스트 상품\",\"originalPrice\":30000,\"discountPrice\"\
                    :30000,\"discountRate\":null,\"color\":\"블랙\",\"size\":\"M\",\"\
                    mainImageUrl\":\"https://example.com/image.jpg\"}],\"nextCursor\"\
                    :null,\"hasNext\":false}}"
    post:
      tags:
      - Cart
      summary: 장바구니 추가
      description: 장바구니에 상품을 추가합니다. 이미 담긴 상품이면 수량을 합산합니다. 단건 또는 다건 모두 리스트 형태로 전달합니다.
      operationId: cart/save-carts
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CartSaveRequest'
            examples:
              cart/save-carts:
                value: "[{\"productDetailId\":1,\"quantity\":2}]"
              cart/save-carts-invalid-quantity:
                value: "[{\"productDetailId\":1,\"quantity\":0}]"
              cart/save-carts-multiple:
                value: "[{\"productDetailId\":1,\"quantity\":2},{\"productDetailId\"\
                  :2,\"quantity\":1},{\"productDetailId\":3,\"quantity\":3}]"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                cart/save-carts:
                  value: "{\"success\":true,\"status\":201,\"message\":\"장바구니 추가에\
                    \ 성공하였습니다.\",\"data\":null}"
                cart/save-carts-multiple:
                  value: "{\"success\":true,\"status\":201,\"message\":\"장바구니 추가에\
                    \ 성공하였습니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                cart/save-carts-invalid-quantity:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"quantity\",\"message\"\
                    :\"수량은 최소 한 개 이상 선택해야 합니다.\"}]}"
    delete:
      tags:
      - Cart
      summary: 장바구니 선택 삭제
      description: 선택한 장바구니 항목들을 삭제합니다. 본인 소유 항목만 삭제됩니다.
      operationId: cart/delete-carts
      parameters:
      - name: ids
        in: query
        description: "삭제할 장바구니 항목 ID 목록 (반복 파라미터, 예: ?ids=1&ids=2, 1개 이상)"
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                cart/delete-carts:
                  value: "{\"success\":true,\"status\":200,\"message\":\"장바구니 삭제에\
                    \ 성공하였습니다.\",\"data\":null}"
  /v1/categories:
    get:
      tags:
      - Category
      summary: 전체 카테고리 계층 조회
      description: 상위 카테고리와 하위 카테고리를 계층 구조로 반환합니다. 단일 API 호출로 전체 카테고리 트리를 반환합니다.
      operationId: categories/list-0
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
              examples:
                categories/list-01-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[{\"id\":1,\"categoryName\":\"상의\",\"children\"\
                    :[{\"id\":3,\"categoryName\":\"반팔\",\"children\":[]},{\"id\":4,\"\
                    categoryName\":\"긴팔\",\"children\":[]}]},{\"id\":2,\"categoryName\"\
                    :\"하의\",\"children\":[{\"id\":5,\"categoryName\":\"청바지\",\"children\"\
                    :[]}]}]}"
                categories/list-02-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[]}"
                categories/list-03-no-children:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[{\"id\":1,\"categoryName\":\"상의\",\"children\"\
                    :[]}]}"
  /v1/logout:
    delete:
      tags:
      - Auth
      summary: 로그아웃
      description: "로그아웃 요청 시 access token 블랙리스트 등록, refresh token Redis 삭제, refresh\
        \ 쿠키 만료 처리가 수행됩니다."
      operationId: auth/logout
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
              examples:
                auth/logout:
                  value: "{\"success\":true,\"status\":200,\"message\":\"로그아웃에 성공하\
                    였습니다.\",\"data\":null}"
                auth/logout-no-access-token:
                  value: "{\"success\":true,\"status\":200,\"message\":\"로그아웃에 성공하\
                    였습니다.\",\"data\":null}"
                auth/logout-no-refresh-cookie:
                  value: "{\"success\":true,\"status\":200,\"message\":\"로그아웃에 성공하\
                    였습니다.\",\"data\":null}"
  /v1/orders:
    get:
      tags:
      - Order
      summary: 주문 목록 조회
      description: "로그인한 사용자의 주문 목록을 페이징하여 반환합니다.\n기본 조회 범위는 최근 3개월이며 최대 1년까지 조회 가\
        능합니다.\nstartDate를 1년 이전으로 지정하면 자동으로 1년 전으로 보정됩니다.\n날짜 형식: yyyy-MM-dd\n"
      operationId: order/list-
      parameters:
      - name: startDate
        in: query
        description: "조회 시작일 (yyyy-MM-dd, 기본값: 오늘 - 3개월, 최대 1년 전)"
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: "조회 종료일 (yyyy-MM-dd, 기본값: 오늘)"
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: "페이지 번호 (0부터 시작, 기본값: 0)"
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: "페이지 크기 (기본값: 10)"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
              examples:
                order/list-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문 목록 조회에\
                    \ 성공하였습니다.\",\"data\":{\"content\":[{\"orderNumber\":\"20260416-ABC1234567\"\
                    ,\"orderStatus\":\"PAID\",\"orderedAt\":\"2026-04-16T10:00:00\"\
                    ,\"paymentAmount\":33000,\"totalQuantity\":2,\"representativeProductName\"\
                    :\"슬림핏 청바지\",\"representativeImageUrl\":\"https://cdn.daebbang.com/img/slim-jeans.jpg\"\
                    ,\"representativeColor\":\"골드\",\"representativeSize\":\"M\",\"\
                    representativeUnitPrice\":30000,\"representativeQuantity\":1}],\"\
                    empty\":false,\"first\":true,\"last\":true,\"number\":0,\"numberOfElements\"\
                    :1,\"pageable\":{\"offset\":0,\"pageNumber\":0,\"pageSize\":10,\"\
                    paged\":true,\"sort\":{\"empty\":true,\"sorted\":false,\"unsorted\"\
                    :true},\"unpaged\":false},\"size\":10,\"sort\":{\"empty\":true,\"\
                    sorted\":false,\"unsorted\":true},\"totalElements\":1,\"totalPages\"\
                    :1}}"
                order/list-with-date-range:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문 목록 조회에\
                    \ 성공하였습니다.\",\"data\":{\"content\":[],\"empty\":true,\"first\"\
                    :true,\"last\":true,\"number\":0,\"numberOfElements\":0,\"pageable\"\
                    :\"INSTANCE\",\"size\":0,\"sort\":{\"empty\":true,\"sorted\":false,\"\
                    unsorted\":true},\"totalElements\":0,\"totalPages\":1}}"
  /v1/reviews:
    post:
      tags:
      - Review
      summary: 리뷰 작성
      description: "주문 완료된 상품에 대해 리뷰를 작성합니다. multipart/form-data 형식.\n- data (application/json):\
        \ 리뷰 정보 JSON\n- images (binary[], 선택, 최대 4장): 첨부 이미지 (jpg/jpeg/png/webp)\n\
        - 이미지 없으면 일반 리뷰, 1장 이상이면 포토 리뷰 적립금 적용\n- 적립금은 초기 대기 상태로 등록됨\n"
      operationId: review/create-review-
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewCreatedResponse'
              examples:
                review/create-review-normal:
                  value: "{\"success\":true,\"status\":201,\"message\":\"리뷰가 등록되었습\
                    니다.\",\"data\":null}"
                review/create-review-photo:
                  value: "{\"success\":true,\"status\":201,\"message\":\"리뷰가 등록되었습\
                    니다.\",\"data\":null}"
  /v1/users:
    get:
      tags:
      - User
      summary: 회원 정보 조회 (기본 주소 없음)
      description: JWT 토큰으로 인증된 회원의 정보를 조회합니다. 기본 배송지가 없을 경우 defaultAddress는 null입니다.
      operationId: user/get-user-
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
              examples:
                user/get-user-no-address:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 조회에 성공\
                    하였습니다.\",\"data\":{\"id\":null,\"provider\":\"LOCAL\",\"loginId\"\
                    :\"testuser\",\"userName\":\"홍길동\",\"userEmail\":\"test@example.com\"\
                    ,\"userPhoneNumber\":\"010-****-5678\",\"createdAt\":null,\"lastLoginAt\"\
                    :null,\"defaultAddress\":null}}"
                user/get-user-with-address:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 조회에 성공\
                    하였습니다.\",\"data\":{\"id\":null,\"provider\":\"LOCAL\",\"loginId\"\
                    :\"testuser\",\"userName\":\"홍길동\",\"userEmail\":\"test@example.com\"\
                    ,\"userPhoneNumber\":\"010-****-5678\",\"createdAt\":null,\"lastLoginAt\"\
                    :null,\"defaultAddress\":{\"addressId\":null,\"alias\":\"집\",\"\
                    receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\",\"\
                    zipCode\":\"12345\",\"address\":\"서울시 강남구 테헤란로\",\"detailAddress\"\
                    :\"101호\"}}}"
    post:
      tags:
      - User
      summary: 회원 가입
      description: 새로운 회원을 등록합니다. 전화번호 인증 완료 후 가입이 가능합니다.
      operationId: user/join-user
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/JoinUserRequest'
            examples:
              user/join-user:
                value: "{\"name\":\"홍길동\",\"loginId\":\"testuser123\",\"password\"\
                  :\"Password123!\",\"phoneNumber\":\"010-1234-5678\",\"email\":\"\
                  test@example.com\",\"address\":{\"alias\":null,\"zipCode\":\"123-4567\"\
                  ,\"address\":\"테스트시 테스트구 테스트동\",\"detailAddress\":\"테스트 오피스텔 2층\"\
                  }}"
              user/join-user-invalid-login-id:
                value: "{\"name\":\"홍길동\",\"loginId\":\"TestUser123\",\"password\"\
                  :\"Password123!\",\"phoneNumber\":\"010-1234-5678\",\"email\":\"\
                  test@example.com\",\"address\":{\"alias\":null,\"zipCode\":\"123-4567\"\
                  ,\"address\":\"테스트시 테스트구 테스트동\",\"detailAddress\":\"테스트 오피스텔 2층\"\
                  }}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                user/join-user:
                  value: "{\"success\":true,\"status\":201,\"message\":\"회원 가입에 성공\
                    하였습니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user/join-user-invalid-login-id:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"loginId\",\"message\"\
                    :\"아이디는 영문 소문자와 숫자만 입력 가능하며, 특수문자는 사용할 수 없습니다.\"}]}"
    delete:
      tags:
      - User
      summary: 회원 탈퇴
      description: 인증된 회원을 탈퇴 처리합니다. 탈퇴 시 모든 주소록도 함께 삭제됩니다.
      operationId: user/withdraw-user
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/v1-addresses-addressId486549215'
            examples:
              user/withdraw-user:
                value: _csrf=q1n7Exevu8dezsspnGygMq7efgzFYE8mToeSs0YsS3pNSoTAyGzOIyfO3aRz961LqEGUB5a_UzTyVSsLeuXwhCdPfEIpe7ym
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                user/withdraw-user:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 탈퇴에 성공\
                    하였습니다.\",\"data\":null}"
  /v1/wish-lists:
    get:
      tags:
      - WishList
      summary: 위시리스트 조회
      description: 로그인한 회원의 위시리스트를 페이지네이션으로 조회합니다. 최신 추가 순으로 정렬됩니다.
      operationId: wish-lists/list-0
      parameters:
      - name: page
        in: query
        description: "페이지 번호 (0부터 시작, 기본값: 0)"
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: "페이지 크기 (기본값: 20)"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishListPageResponse'
              examples:
                wish-lists/list-01-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[{\"wishListId\":2,\"productId\":100,\"\
                    mainImageUrl\":\"https://example.com/image.jpg\",\"productName\"\
                    :\"테스트 상품\",\"originalPrice\":30000,\"discountRate\":null,\"sellingPrice\"\
                    :30000},{\"wishListId\":1,\"productId\":200,\"mainImageUrl\":\"\
                    https://example.com/sale-image.jpg\",\"productName\":\"할인 상품\"\
                    ,\"originalPrice\":50000,\"discountRate\":10,\"sellingPrice\"\
                    :45000}],\"pageNumber\":0,\"pageSize\":10,\"totalElements\":2,\"\
                    totalPages\":1,\"last\":true}}"
                wish-lists/list-02-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[],\"pageNumber\":0,\"pageSize\":10,\"\
                    totalElements\":0,\"totalPages\":0,\"last\":true}}"
        "401":
          description: "401"
    post:
      tags:
      - WishList
      summary: 위시리스트 추가
      description: 상품 상세 페이지에서 상품을 위시리스트에 추가합니다. 이미 추가된 상품은 409를 반환합니다.
      operationId: wish-lists/add-0
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/WishListSaveRequest'
            examples:
              wish-lists/add-01-success:
                value: "{\"productId\":100}"
              wish-lists/add-02-already-exists:
                value: "{\"productId\":100}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishIdResponse'
              examples:
                wish-lists/add-01-success:
                  value: "{\"success\":true,\"status\":201,\"message\":\"위시리스트 추가에\
                    \ 성공하였습니다.\",\"data\":{\"wishId\":1}}"
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                wish-lists/add-02-already-exists:
                  value: "{\"success\":false,\"status\":409,\"message\":\"이미 위시리스트\
                    에 추가된 상품입니다.\",\"data\":null}"
    delete:
      tags:
      - WishList
      summary: 위시리스트 선택 삭제
      description: "선택한 위시리스트 항목들을 삭제합니다. 본인 소유 항목만 삭제되며, 단건 삭제도 동일하게 처리합니다."
      operationId: wish-lists/delete-01-selected
      parameters:
      - name: ids
        in: query
        description: "삭제할 위시리스트 항목 ID 목록 (반복 파라미터, 예: ?ids=1&ids=2, 1개 이상)"
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                wish-lists/delete-01-selected:
                  value: "{\"success\":true,\"status\":200,\"message\":\"위시리스트 삭제에\
                    \ 성공하였습니다.\",\"data\":null}"
  /v1/addresses/{addressId}:
    put:
      tags:
      - Address
      summary: 주소 수정
      description: 기존 배송지 정보를 수정합니다. isDefault가 true이면 기존 기본 배송지가 해제됩니다.
      operationId: address/update-address
      parameters:
      - name: addressId
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AddressUpdateRequest'
            examples:
              address/update-address:
                value: "{\"address\":\"서울시 서초구 반포대로\",\"isDefault\":false,\"alias\"\
                  :\"회사\",\"zipCode\":\"54321\",\"receiverPhoneNumber\":\"010-9876-5432\"\
                  ,\"receiver\":\"김철수\",\"detailAddress\":\"202호\"}"
              address/update-address-not-found:
                value: "{\"receiver\":\"홍길동\",\"zipCode\":\"12345\",\"isDefault\"\
                  :false,\"receiverPhoneNumber\":\"010-1234-5678\",\"address\":\"서\
                  울시 강남구 테헤란로\",\"detailAddress\":\"101호\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
              examples:
                address/update-address:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주소 수정에 성공\
                    하였습니다.\",\"data\":null}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                address/update-address-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 주소입니다.\",\"data\":null}"
    delete:
      tags:
      - Address
      summary: 주소 삭제
      description: 배송지를 삭제합니다 (소프트 삭제).
      operationId: address/delete-address
      parameters:
      - name: addressId
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/v1-addresses-addressId486549215'
            examples:
              address/delete-address:
                value: _csrf=Wfm93pgNjGUaV3vFIQ9DWvTCFT3HndZO8YhjWzNjngQykow1PMiE7K1sugc3YUj9RCJ3bJDyOAX1_OJjkrxQbgdX-j0A8bhQ
              address/delete-address-not-found:
                value: _csrf=kQlfKRF9nG15N2U1E3b54pGujsmWPhOZ7KTe5Olosnh2mo2gqG9tGiAc-ltUUlxTK1vN0qCXo_GkByG02JLp1o0J0xpH-7WS
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
              examples:
                address/delete-address:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주소 삭제에 성공\
                    하였습니다.\",\"data\":null}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                address/delete-address-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 주소입니다.\",\"data\":null}"
  /v1/carts/all:
    delete:
      tags:
      - Cart
      summary: 장바구니 전체 삭제
      description: 로그인한 회원의 장바구니를 전체 삭제합니다.
      operationId: cart/delete-all-carts
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                cart/delete-all-carts:
                  value: "{\"success\":true,\"status\":200,\"message\":\"장바구니 삭제에\
                    \ 성공하였습니다.\",\"data\":null}"
  /v1/carts/{cartId}:
    patch:
      tags:
      - Cart
      summary: 장바구니 수정
      description: 장바구니 항목의 색상/사이즈(productDetailId)와 수량을 수정합니다.
      operationId: cart/update-cart
      parameters:
      - name: cartId
        in: path
        description: 수정할 장바구니 항목 ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CartUpdateRequest'
            examples:
              cart/update-cart:
                value: "{\"productDetailsId\":2,\"quantity\":3}"
              cart/update-cart-not-found:
                value: "{\"productDetailsId\":2,\"quantity\":3}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                cart/update-cart:
                  value: "{\"success\":true,\"status\":200,\"message\":\"장바구니 수정에\
                    \ 성공하였습니다.\",\"data\":null}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                cart/update-cart-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 카트 번호입니다.\",\"data\":null}"
  /v1/orders/confirm:
    post:
      tags:
      - Order
      summary: 결제 확정 - 중복 요청
      description: 이미 결제 확정이 완료된 주문에 중복 요청하거나 동시에 같은 주문을 처리하려 할 경우 409를 반환합니다.
      operationId: order/confirm-
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/v1-orders-confirm1031018359'
            examples:
              order/confirm-already-processed:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":33000}"
              order/confirm-amount-mismatch:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":99999}"
              order/confirm-blank-order-id:
                value: "{\"orderId\":\"\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":33000}"
              order/confirm-blank-payment-key:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"\",\"\
                  amount\":33000}"
              order/confirm-invalid-amount:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":0}"
              order/confirm-not-found:
                value: "{\"orderId\":\"20260416-EXPIRED0000\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":33000}"
              order/confirm-payment-failed:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":33000}"
              order/confirm-success:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":33000}"
              order/confirm-user-mismatch:
                value: "{\"orderId\":\"20260416-ABC1234567\",\"paymentKey\":\"toss_payment_key_abc\"\
                  ,\"amount\":33000}"
      responses:
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/confirm-already-processed:
                  value: "{\"success\":false,\"status\":409,\"message\":\"이미 처리된 주\
                    문입니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/confirm-amount-mismatch:
                  value: "{\"success\":false,\"status\":400,\"message\":\"결제 금액이 주\
                    문 금액과 일치하지 않습니다.\",\"data\":null}"
                order/confirm-blank-order-id:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"orderId\",\"message\"\
                    :\"주문 번호는 필수입니다.\"}]}"
                order/confirm-blank-payment-key:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"paymentKey\",\"message\"\
                    :\"결제 키는 필수입니다.\"}]}"
                order/confirm-invalid-amount:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"amount\",\"message\"\
                    :\"결제 금액은 0보다 커야 합니다.\"}]}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/confirm-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 주문입니다.\",\"data\":null}"
        "502":
          description: "502"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/confirm-payment-failed:
                  value: "{\"success\":false,\"status\":502,\"message\":\"결제 승인에 실\
                    패했습니다. 관리자에게 문의하세요.\",\"data\":null}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                order/confirm-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"결제가 완료되었습\
                    니다.\",\"data\":null}"
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/confirm-user-mismatch:
                  value: "{\"success\":false,\"status\":403,\"message\":\"주문자 정보가\
                    \ 일치하지 않습니다.\",\"data\":null}"
  /v1/orders/prepare:
    post:
      tags:
      - Order
      summary: 주문 준비 - 상품 목록 없음
      description: items가 비어있으면 400 Bad Request를 반환합니다.
      operationId: order/prepare-
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/v1-orders-prepare-1990526072'
            examples:
              order/prepare-empty-items:
                value: "{\"items\":[],\"usedPoint\":0,\"receiver\":\"홍길동\",\"receiverPhoneNumber\"\
                  :\"010-1234-5678\",\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테\
                  헤란로 1\",\"detailAddress\":\"101동 202호\",\"shippingFee\":3000,\"\
                  orderNote\":null,\"isAddToAddressBook\":false,\"isDefaultAddress\"\
                  :false,\"addressAlias\":null}"
              order/prepare-invalid-quantity:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":0}],\"usedPoint\"\
                  :0,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-lock-failed:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":1}],\"usedPoint\"\
                  :0,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-negative-point:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":1}],\"usedPoint\"\
                  :-1,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-out-of-stock:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":999}],\"usedPoint\"\
                  :0,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-point-exceeds:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":1}],\"usedPoint\"\
                  :99999,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-success:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":1}],\"usedPoint\"\
                  :0,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-success-free-shipping:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":2}],\"usedPoint\"\
                  :0,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":0,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
              order/prepare-success-with-point:
                value: "{\"items\":[{\"productDetailId\":1,\"quantity\":1}],\"usedPoint\"\
                  :3000,\"receiver\":\"홍길동\",\"receiverPhoneNumber\":\"010-1234-5678\"\
                  ,\"zipCode\":\"06123\",\"address\":\"서울시 강남구 테헤란로 1\",\"detailAddress\"\
                  :\"101동 202호\",\"shippingFee\":3000,\"orderNote\":null,\"isAddToAddressBook\"\
                  :false,\"isDefaultAddress\":false,\"addressAlias\":null}"
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/prepare-empty-items:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"items\",\"message\"\
                    :\"주문 상품 목록은 필수입니다.\"}]}"
                order/prepare-invalid-quantity:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"items[0].quantity\"\
                    ,\"message\":\"최소 1개 수량 이상 선택하셔야 합니다.\"}]}"
                order/prepare-negative-point:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"usedPoint\",\"message\"\
                    :\"포인트는 0 이상이어야 합니다.\"}]}"
                order/prepare-point-exceeds:
                  value: "{\"success\":false,\"status\":400,\"message\":\"포인트가 결제\
                    \ 금액을 초과합니다.\",\"data\":null}"
        "503":
          description: "503"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/prepare-lock-failed:
                  value: "{\"success\":false,\"status\":503,\"message\":\"재고 처리 중입\
                    니다. 잠시 후 다시 시도해주세요.\",\"data\":null}"
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/prepare-out-of-stock:
                  value: "{\"success\":false,\"status\":409,\"message\":\"재고가 부족합니\
                    다.\",\"data\":null}"
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPrepareResponse'
              examples:
                order/prepare-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문이 생성되었습\
                    니다.\",\"data\":{\"orderNumber\":\"20260416-ABC1234567\",\"paymentAmount\"\
                    :33000}}"
                order/prepare-success-free-shipping:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문이 생성되었습\
                    니다.\",\"data\":{\"orderNumber\":\"20260416-DEF9876543\",\"paymentAmount\"\
                    :60000}}"
                order/prepare-success-with-point:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문이 생성되었습\
                    니다.\",\"data\":{\"orderNumber\":\"20260416-GHI1357924\",\"paymentAmount\"\
                    :30000}}"
  /v1/orders/status-count:
    get:
      tags:
      - Order
      summary: 배송 현황 건수 조회
      description: |
        마이페이지 상단에 표시할 배송 현황 건수를 반환합니다.
        결제완료 / 배송준비중 / 배송중 / 배송완료 4가지 상태별 건수를 제공합니다.
        날짜 범위를 지정하지 않으면 기본 3개월 기준으로 집계하며 최대 1년까지 조회 가능합니다.
      operationId: order/status-count-
      parameters:
      - name: startDate
        in: query
        description: "조회 시작일 (yyyy-MM-dd, 기본값: 오늘 - 3개월)"
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: "조회 종료일 (yyyy-MM-dd, 기본값: 오늘)"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatusCountResponse'
              examples:
                order/status-count-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"배송 현황 건수\
                    \ 조회에 성공하였습니다.\",\"data\":{\"paid\":2,\"preparingDelivery\":1,\"\
                    inDelivery\":3,\"delivered\":1}}"
                order/status-count-with-date-range:
                  value: "{\"success\":true,\"status\":200,\"message\":\"배송 현황 건수\
                    \ 조회에 성공하였습니다.\",\"data\":{\"paid\":0,\"preparingDelivery\":0,\"\
                    inDelivery\":0,\"delivered\":0}}"
  /v1/orders/{orderNumber}:
    get:
      tags:
      - Order
      summary: 주문 상세 조회 - 주문 없음
      description: 존재하지 않거나 본인 주문이 아닌 경우 404를 반환합니다.
      operationId: order/detail-
      parameters:
      - name: orderNumber
        in: path
        description: 주문 번호
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/detail-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 주문입니다.\",\"data\":null}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
              examples:
                order/detail-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문 상세 조회에\
                    \ 성공하였습니다.\",\"data\":{\"orderNumber\":\"20260416-ABC1234567\"\
                    ,\"orderStatus\":\"PAID\",\"orderedAt\":\"2026-04-16T10:00:00\"\
                    ,\"totalOriginalAmount\":30000,\"totalSellingAmount\":27000,\"\
                    shippingFee\":3000,\"usedPoint\":0,\"paymentAmount\":30000,\"\
                    details\":[{\"orderDetailId\":10,\"productDetailId\":101,\"productName\"\
                    :\"슬림핏 청바지\",\"imageUrl\":\"https://cdn.daebbang.com/img/slim-jeans.jpg\"\
                    ,\"color\":\"골드\",\"colorCode\":\"#FFD700\",\"size\":\"M\",\"\
                    quantity\":2,\"originalPrice\":15000,\"discountRate\":10,\"discountPrice\"\
                    :13500,\"status\":\"NORMAL\"}]}}"
  /v1/products/new:
    get:
      tags:
      - Product
      summary: 신상품 전체 페이지 조회
      description: 신상품 전체 페이지를 조회합니다. 등록일 기준 최신순으로 반환되며 페이징이 적용됩니다.
      operationId: products/new
      parameters:
      - name: direction
        in: query
        description: "정렬 방향 (ASC: 오래된순, DESC: 최신순) - 기본값: DESC"
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: 페이지 번호 (0부터 시작)
        required: true
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: 페이지 크기
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPageResponse'
              examples:
                products/new:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[{\"id\":1,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"루즈핏 티셔츠\",\"mainImageUrl\":\"http://example.com/main1.jpg\"\
                    ,\"hoverImageUrl\":\"http://example.com/hover1.jpg\",\"originalPrice\"\
                    :50000,\"sellingPrice\":40000,\"discountRate\":20,\"colorCodes\"\
                    :[\"#000000\",\"#FFFFFF\"]},{\"id\":2,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"오버핏 니트\",\"mainImageUrl\":\"http://example.com/main2.jpg\"\
                    ,\"hoverImageUrl\":null,\"originalPrice\":39000,\"sellingPrice\"\
                    :39000,\"discountRate\":null,\"colorCodes\":[\"#8B5A2B\"]}],\"\
                    pageNumber\":0,\"pageSize\":8,\"totalElements\":2,\"totalPages\"\
                    :1,\"last\":true}}"
                products/new-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[],\"pageNumber\":0,\"pageSize\":8,\"\
                    totalElements\":0,\"totalPages\":0,\"last\":true}}"
  /v1/products/search:
    get:
      tags:
      - Product
      summary: 상품 키워드 검색
      description: "상품명에 키워드가 포함된 상품을 검색합니다. (LIKE %keyword% 방식, 대소문자 구분 없음)"
      operationId: products/search-0
      parameters:
      - name: keyword
        in: query
        description: "검색 키워드 (예: 바지)"
        required: true
        schema:
          type: string
      - name: sortType
        in: query
        description: "정렬 기준 (NEW, LATEST, NAME, PRICE, POPULAR) - 기본값: NEW"
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: "정렬 방향 (ASC, DESC) - 기본값: DESC"
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 페이지 번호 (0부터 시작)
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: 페이지 크기
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSearchResponse'
              examples:
                products/search-01-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[{\"id\":1,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"루즈핏 티셔츠\",\"mainImageUrl\":\"http://example.com/main1.jpg\"\
                    ,\"hoverImageUrl\":\"http://example.com/hover1.jpg\",\"originalPrice\"\
                    :50000,\"sellingPrice\":40000,\"discountRate\":20,\"colorCodes\"\
                    :[\"#000000\",\"#FFFFFF\"]},{\"id\":2,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"오버핏 니트\",\"mainImageUrl\":\"http://example.com/main2.jpg\"\
                    ,\"hoverImageUrl\":null,\"originalPrice\":39000,\"sellingPrice\"\
                    :39000,\"discountRate\":null,\"colorCodes\":[\"#8B5A2B\"]}],\"\
                    pageNumber\":0,\"pageSize\":8,\"totalElements\":2,\"totalPages\"\
                    :1,\"last\":true}}"
                products/search-02-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[],\"pageNumber\":0,\"pageSize\":8,\"\
                    totalElements\":0,\"totalPages\":0,\"last\":true}}"
  /v1/products/{productId}:
    get:
      tags:
      - Product
      summary: 상품 상세 조회 - 상품 없음
      description: 존재하지 않는 상품 ID로 조회 시 404를 반환합니다.
      operationId: products/detail-
      parameters:
      - name: productId
        in: path
        description: 상품 ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                products/detail-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 상품입니다.\",\"data\":null}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailResponse'
              examples:
                products/detail-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"id\":1,\"categoryName\":\"TOP\",\"productName\"\
                    :\"루즈핏 티셔츠\",\"simpleDescription\":\"편안한 루즈핏 티셔츠\",\"mainImageUrl\"\
                    :\"http://example.com/main1.jpg\",\"originalPrice\":50000,\"sellingPrice\"\
                    :40000,\"discountRate\":20,\"gallery\":[{\"imageUrl\":\"http://example.com/detail1.jpg\"\
                    ,\"imageOrder\":1},{\"imageUrl\":\"http://example.com/detail2.jpg\"\
                    ,\"imageOrder\":2}],\"descriptionHtml\":\"<p>상품 상세 설명</p>\",\"\
                    options\":[{\"color\":\"블랙\",\"colorCode\":\"#000000\",\"sizes\"\
                    :[{\"productDetailId\":1,\"size\":\"S\",\"stock\":10,\"soldOut\"\
                    :false},{\"productDetailId\":2,\"size\":\"M\",\"stock\":0,\"soldOut\"\
                    :true}]},{\"color\":\"화이트\",\"colorCode\":\"#FFFFFF\",\"sizes\"\
                    :[{\"productDetailId\":3,\"size\":\"S\",\"stock\":5,\"soldOut\"\
                    :false}]}]}}"
  /v1/reviews/my:
    get:
      tags:
      - Review
      summary: 내 리뷰 목록 조회
      description: "내가 작성한 리뷰 목록을 조회합니다. 최신순, 한 페이지에 10개."
      operationId: review/my-review-list
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyReviewListResponse'
              examples:
                review/my-review-list:
                  value: "{\"success\":true,\"status\":200,\"message\":\"리뷰 목록 조회에\
                    \ 성공하였습니다.\",\"data\":{\"content\":[{\"reviewId\":1,\"productId\"\
                    :10,\"productName\":\"촉촉한 크림빵\",\"createdAt\":\"2026-04-27T10:00:00\"\
                    ,\"rating\":5,\"content\":\"정말 맛있는 빵이에요! 촉촉하고 달달해서 온 가족이 좋아합니다\
                    .\",\"imageUrls\":[],\"reply\":null,\"replyUpdatedAt\":null,\"\
                    pointStatus\":\"적립금 대기\",\"expectedPoint\":500}],\"pageNumber\"\
                    :0,\"pageSize\":10,\"totalElements\":1,\"totalPages\":1,\"last\"\
                    :true}}"
  /v1/reviews/{reviewId}:
    put:
      tags:
      - Review
      summary: 리뷰 수정
      description: "작성한 리뷰를 수정합니다. multipart/form-data 형식.\n- data (application/json):\
        \ 수정 정보 JSON\n- images (binary[], 선택): 새로 추가할 이미지\n- keepImageUrls + images\
        \ 합계는 최대 4장\n- 기존 이미지 중 keepImageUrls에 없는 항목은 S3에서 자동 삭제\n- 적립금이 승인된 리뷰는 수\
        정 불가\n"
      operationId: review/update-review
      parameters:
      - name: reviewId
        in: path
        description: 리뷰 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonVoidResponse'
              examples:
                review/update-review:
                  value: "{\"success\":true,\"status\":200,\"message\":\"리뷰가 수정되었습\
                    니다.\",\"data\":null}"
    delete:
      tags:
      - Review
      summary: 리뷰 삭제
      description: 작성한 리뷰를 삭제합니다. 등록된 이미지는 S3에서도 함께 삭제됩니다. 적립금이 승인된 리뷰는 삭제 불가합니다.
      operationId: review/delete-review
      parameters:
      - name: reviewId
        in: path
        description: 리뷰 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonVoidResponse'
              examples:
                review/delete-review:
                  value: "{\"success\":true,\"status\":200,\"message\":\"리뷰가 삭제되었습\
                    니다.\",\"data\":null}"
  /v1/sms/send:
    post:
      tags:
      - SMS
      summary: SMS 인증번호 발송
      description: 입력한 전화번호로 6자리 인증번호를 발송합니다. 이미 가입된 전화번호는 사용할 수 없습니다.
      operationId: sms/send-auth-code
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
            examples:
              sms/send-auth-code:
                value: "{\"phoneNumber\":\"010-1234-5678\"}"
              sms/send-auth-code-duplicate:
                value: "{\"phoneNumber\":\"010-1234-5678\"}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsSendResponse'
              examples:
                sms/send-auth-code:
                  value: "{\"success\":true,\"status\":201,\"message\":\"생성에 성공하였습\
                    니다.\",\"data\":null}"
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                sms/send-auth-code-duplicate:
                  value: "{\"success\":false,\"status\":409,\"message\":\"이미 사용 중인\
                    \ 핸드폰 번호입니다.\",\"data\":null}"
  /v1/sms/verify:
    post:
      tags:
      - SMS
      summary: SMS 인증번호 검증
      description: 발송된 인증번호가 올바른지 검증합니다. 인증 성공 시 이후 회원 가입이 가능합니다.
      operationId: sms/verify-auth-code
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SmsVerifyRequest'
            examples:
              sms/verify-auth-code:
                value: "{\"phoneNumber\":\"010-1234-5678\",\"authCode\":\"123456\"\
                  }"
              sms/verify-auth-code-expired:
                value: "{\"phoneNumber\":\"010-1234-5678\",\"authCode\":\"123456\"\
                  }"
              sms/verify-auth-code-mismatch:
                value: "{\"phoneNumber\":\"010-1234-5678\",\"authCode\":\"000000\"\
                  }"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                sms/verify-auth-code:
                  value: "{\"success\":true,\"status\":200,\"message\":\"핸드폰 인증에 성\
                    공하였습니다.\",\"data\":null}"
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                sms/verify-auth-code-expired:
                  value: "{\"success\":false,\"status\":401,\"message\":\"인증번호가 만료\
                    되었거나 일치하지 않습니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                sms/verify-auth-code-mismatch:
                  value: "{\"success\":false,\"status\":400,\"message\":\"인증번호 코드가\
                    \ 일치하지 않습니다.\",\"data\":null}"
  /v1/tokens/reissues:
    post:
      tags:
      - Auth
      summary: 토큰 재발급
      description: Refresh 토큰 쿠키를 이용해 새로운 Access 토큰과 Refresh 토큰을 재발급합니다. 새로운 Refresh
        토큰은 Set-Cookie 헤더로 반환됩니다.
      operationId: auth/reissue-tokens
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReissueTokenResponse'
              examples:
                auth/reissue-tokens:
                  value: "{\"success\":true,\"status\":201,\"message\":\"생성에 성공하였습\
                    니다.\",\"data\":{\"grantType\":\"Bearer\",\"accessToken\":\"new-access-token\"\
                    ,\"refreshToken\":null}}"
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                auth/reissue-tokens-expired:
                  value: "{\"success\":false,\"status\":401,\"message\":\"만료된 토큰입니\
                    다.\",\"data\":null}"
                auth/reissue-tokens-invalid:
                  value: "{\"success\":false,\"status\":401,\"message\":\"유효하지 않은\
                    \ 토큰입니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                auth/reissue-tokens-missing-cookie:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null}"
  /v1/users/me:
    patch:
      tags:
      - User
      summary: 마이페이지 회원정보 수정
      description: "마이페이지에서 비밀번호/전화번호/이메일을 한 번에 수정합니다.\n모든 필드는 선택적이며 변경하려는 항목만 채워서\
        \ 보내면 됩니다.\n- 비밀번호: LOCAL 회원만 가능. 비밀번호와 비밀번호 확인이 일치해야 합니다.\n- 전화번호: 기존 번호와\
        \ 다른 경우에만 처리되며, /v1/sms/send/change → /v1/sms/verify 로 사전 인증 필요.\n- 이메일: 형\
        식 검증 후 그대로 갱신.\n"
      operationId: user/update-my-info
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/MyInfoUpdateRequest'
            examples:
              user/update-my-info:
                value: "{\"password\":\"NewPassword1!\",\"passwordConfirm\":\"NewPassword1!\"\
                  ,\"phoneNumber\":\"010-9999-8888\",\"email\":\"new@example.com\"\
                  }"
              user/update-my-info-invalid-password:
                value: "{\"password\":\"short\",\"passwordConfirm\":\"short\",\"phoneNumber\"\
                  :null,\"email\":null}"
              user/update-my-info-social-password:
                value: "{\"password\":\"Password1!\",\"passwordConfirm\":\"Password1!\"\
                  ,\"phoneNumber\":null,\"email\":null}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                user/update-my-info:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 정보 수정에\
                    \ 성공하였습니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user/update-my-info-invalid-password:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"password\",\"message\"\
                    :\"비밀번호는 8~16자이며, 영문/숫자/특수문자 중 2가지 이상을 조합해야 합니다.\"}]}"
                user/update-my-info-social-password:
                  value: "{\"success\":false,\"status\":400,\"message\":\"소셜 로그인 회\
                    원은 비밀번호를 변경할 수 없습니다.\",\"data\":null}"
  /v1/wish-lists/all:
    delete:
      tags:
      - WishList
      summary: 위시리스트 전체 삭제
      description: 로그인한 회원의 위시리스트를 전체 삭제합니다.
      operationId: wish-lists/delete-02-all
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                wish-lists/delete-02-all:
                  value: "{\"success\":true,\"status\":200,\"message\":\"위시리스트 삭제에\
                    \ 성공하였습니다.\",\"data\":null}"
  /v1/wish-lists/check:
    get:
      tags:
      - WishList
      summary: 위시리스트 여부 조회
      description: 상품 상세 페이지 진입 후 CSR로 위시리스트 등록 여부를 조회합니다. 등록된 경우 isWished=true와 wishId를
        반환합니다.
      operationId: wish-lists/check-0
      parameters:
      - name: productId
        in: query
        description: 조회할 상품 ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishListCheckResponse'
              examples:
                wish-lists/check-01-wished:
                  value: "{\"success\":true,\"status\":200,\"message\":\"위시리스트 여부\
                    \ 조회에 성공하였습니다.\",\"data\":{\"isWished\":true,\"wishId\":1}}"
                wish-lists/check-02-not-wished:
                  value: "{\"success\":true,\"status\":200,\"message\":\"위시리스트 여부\
                    \ 조회에 성공하였습니다.\",\"data\":{\"isWished\":false,\"wishId\":null}}"
  /v1/orders/{orderNumber}/cancel:
    post:
      tags:
      - Order
      summary: 주문 전체 취소 - 취소 사유 누락
      description: 취소 사유가 빈 문자열이면 400 Bad Request를 반환합니다.
      operationId: order/cancel-
      parameters:
      - name: orderNumber
        in: path
        description: 주문 번호
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/v1-orders-orderNumber-cancel1320508390'
            examples:
              order/cancel-blank-reason:
                value: "{\"cancelReason\":\"\"}"
              order/cancel-not-allowed:
                value: "{\"cancelReason\":\"단순 변심\"}"
              order/cancel-not-found:
                value: "{\"cancelReason\":\"단순 변심\"}"
              order/cancel-payment-failed:
                value: "{\"cancelReason\":\"단순 변심\"}"
              order/cancel-success:
                value: "{\"cancelReason\":\"단순 변심\"}"
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/cancel-blank-reason:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"cancelReason\",\"\
                    message\":\"취소 사유를 입력해주세요.\"}]}"
                order/cancel-not-allowed:
                  value: "{\"success\":false,\"status\":400,\"message\":\"취소할 수 없는\
                    \ 주문 상태입니다.\",\"data\":null}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/cancel-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 주문입니다.\",\"data\":null}"
        "502":
          description: "502"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/cancel-payment-failed:
                  value: "{\"success\":false,\"status\":502,\"message\":\"결제 취소에 실\
                    패했습니다. 관리자에게 문의하세요.\",\"data\":null}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                order/cancel-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문이 취소되었습\
                    니다.\",\"data\":null}"
  /v1/products/category/{categoryId}:
    get:
      tags:
      - Product
      summary: 카테고리별 상품 전체 페이지 조회
      description: 카테고리별 상품 전체 페이지를 조회합니다. 정렬 기준과 방향을 지정할 수 있으며 기본값은 신상품순(최신순)입니다.
      operationId: products/category
      parameters:
      - name: categoryId
        in: path
        description: 카테고리 ID
        required: true
        schema:
          type: integer
          format: int32
      - name: sortType
        in: query
        description: "정렬 기준 (NEW: 신상품순, LATEST: 최신순, NAME: 상품명순, PRICE: 가격순, POPULAR:\
          \ 인기순) - 기본값: NEW"
        required: true
        schema:
          type: string
      - name: direction
        in: query
        description: "정렬 방향 (ASC: 오름차순, DESC: 내림차순) - 기본값: DESC"
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: 페이지 번호 (0부터 시작)
        required: true
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: 페이지 크기
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPageResponse'
              examples:
                products/category:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[{\"id\":1,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"루즈핏 티셔츠\",\"mainImageUrl\":\"http://example.com/main1.jpg\"\
                    ,\"hoverImageUrl\":\"http://example.com/hover1.jpg\",\"originalPrice\"\
                    :50000,\"sellingPrice\":40000,\"discountRate\":20,\"colorCodes\"\
                    :[\"#000000\",\"#FFFFFF\"]},{\"id\":2,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"오버핏 니트\",\"mainImageUrl\":\"http://example.com/main2.jpg\"\
                    ,\"hoverImageUrl\":null,\"originalPrice\":39000,\"sellingPrice\"\
                    :39000,\"discountRate\":null,\"colorCodes\":[\"#8B5A2B\"]}],\"\
                    pageNumber\":0,\"pageSize\":8,\"totalElements\":2,\"totalPages\"\
                    :1,\"last\":true}}"
                products/category-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":{\"content\":[],\"pageNumber\":0,\"pageSize\":8,\"\
                    totalElements\":0,\"totalPages\":0,\"last\":true}}"
  /v1/products/main/new:
    get:
      tags:
      - Product
      summary: 메인 신상품 조회
      description: "메인 페이지 신상품 섹션 상품 목록을 조회합니다. 등록일 기준 최신순으로 반환되며, 할인 중인 상품은 할인가와\
        \ 할인율이 함께 반환됩니다."
      operationId: products/main-new
      parameters:
      - name: limit
        in: query
        description: 조회할 상품 수
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductMainCardListResponse'
              examples:
                products/main-new:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[{\"id\":1,\"categoryName\":\"TOP\",\"productName\"\
                    :\"루즈핏 티셔츠\",\"mainImageUrl\":\"http://example.com/main1.jpg\"\
                    ,\"hoverImageUrl\":\"http://example.com/hover1.jpg\",\"originalPrice\"\
                    :50000,\"sellingPrice\":40000,\"discountRate\":20,\"colorCodes\"\
                    :[\"#000000\",\"#FFFFFF\"]},{\"id\":2,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"오버핏 니트\",\"mainImageUrl\":\"http://example.com/main2.jpg\"\
                    ,\"hoverImageUrl\":null,\"originalPrice\":39000,\"sellingPrice\"\
                    :39000,\"discountRate\":null,\"colorCodes\":[\"#8B5A2B\"]}]}"
                products/main-new-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[]}"
  /v1/products/{productId}/options:
    get:
      tags:
      - Product
      summary: 상품 옵션 조회
      description: "상품 ID로 색상/사이즈 옵션 목록을 조회합니다. sizes[].productDetailId는 장바구니 담기/수\
        정 시 사용합니다."
      operationId: products/options-0
      parameters:
      - name: productId
        in: path
        description: 상품 ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductOptionsResponse'
              examples:
                products/options-01-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[{\"color\":\"블랙\",\"colorCode\":\"#000000\",\"\
                    sizes\":[{\"productDetailId\":1,\"size\":\"S\",\"stock\":10,\"\
                    soldOut\":false},{\"productDetailId\":2,\"size\":\"M\",\"stock\"\
                    :0,\"soldOut\":true}]},{\"color\":\"화이트\",\"colorCode\":\"#FFFFFF\"\
                    ,\"sizes\":[{\"productDetailId\":3,\"size\":\"S\",\"stock\":5,\"\
                    soldOut\":false},{\"productDetailId\":4,\"size\":\"L\",\"stock\"\
                    :3,\"soldOut\":false}]}]}"
                products/options-02-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[]}"
  /v1/products/{productId}/reviews:
    get:
      tags:
      - Product
      summary: 상품 리뷰 목록 조회
      description: "특정 상품의 리뷰 목록을 조회합니다. 최신순, 한 페이지에 10개.\n작성자 아이디는 앞 4글자만 표기되고 나머\
        지는 *로 마스킹됩니다.\n"
      operationId: product/product-review-list
      parameters:
      - name: productId
        in: path
        description: 상품 ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReviewListResponse'
              examples:
                product/product-review-list:
                  value: "{\"success\":true,\"status\":200,\"message\":\"리뷰 목록 조회에\
                    \ 성공하였습니다.\",\"data\":{\"content\":[{\"reviewId\":1,\"maskedLoginId\"\
                    :\"test********\",\"createdAt\":\"2026-04-27T10:00:00\",\"rating\"\
                    :5,\"content\":\"정말 맛있는 빵이에요! 촉촉하고 달달해서 온 가족이 좋아합니다.\",\"imageUrls\"\
                    :[\"https://s3.example.com/review/image1.jpg\"],\"reply\":\"소중\
                    한 리뷰 감사합니다.\",\"replyUpdatedAt\":\"2026-04-28T10:00:00\"}],\"\
                    pageNumber\":0,\"pageSize\":10,\"totalElements\":1,\"totalPages\"\
                    :1,\"last\":true}}"
  /v1/sms/send/change:
    post:
      tags:
      - SMS
      summary: 마이페이지 전화번호 변경 인증번호 발송
      description: "마이페이지에서 본인의 전화번호 변경을 위해 새 번호로 인증번호를 발송합니다. 인증된 사용자만 호출할 수 있으며\
        , 본인의 기존 번호와 동일하거나 이미 다른 회원이 사용 중인 번호인 경우 거부됩니다."
      operationId: sms/send-auth-code-change
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
            examples:
              sms/send-auth-code-change:
                value: "{\"phoneNumber\":\"010-9999-8888\"}"
              sms/send-auth-code-change-duplicate:
                value: "{\"phoneNumber\":\"010-9999-8888\"}"
              sms/send-auth-code-change-same-phone:
                value: "{\"phoneNumber\":\"010-1234-5678\"}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsSendResponse'
              examples:
                sms/send-auth-code-change:
                  value: "{\"success\":true,\"status\":201,\"message\":\"생성에 성공하였습\
                    니다.\",\"data\":null}"
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                sms/send-auth-code-change-duplicate:
                  value: "{\"success\":false,\"status\":409,\"message\":\"이미 사용 중인\
                    \ 핸드폰 번호입니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                sms/send-auth-code-change-same-phone:
                  value: "{\"success\":false,\"status\":400,\"message\":\"기존 전화번호와\
                    \ 동일합니다.\",\"data\":null}"
  /v1/users/check/id:
    get:
      tags:
      - User
      summary: 아이디 중복 확인
      description: "입력한 로그인 ID가 이미 사용 중인지 확인합니다. 사용 가능하면 200, 중복이면 409를 반환합니다."
      operationId: user/check-login-id
      parameters:
      - name: loginId
        in: query
        description: 중복 확인할 로그인 ID (4~16자)
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                user/check-login-id:
                  value: "{\"success\":true,\"status\":200,\"message\":\"사용 가능한 아이\
                    디입니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user/check-login-id-blank:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"loginId\",\"message\"\
                    :\"아이디는 비어있어서는 안됩니다.\"},{\"field\":\"loginId\",\"message\":\"아\
                    이디는 4자에서 16자 사이여야 합니다.\"}]}"
                user/check-login-id-invalid:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"loginId\",\"message\"\
                    :\"아이디는 4자에서 16자 사이여야 합니다.\"}]}"
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user/check-login-id-duplicate:
                  value: "{\"success\":false,\"status\":409,\"message\":\"이미 사용 중인\
                    \ 아이디입니다.\",\"data\":null}"
  /v1/users/find/id:
    get:
      tags:
      - UserInfo
      summary: 아이디 찾기
      description: 이름과 이메일로 마스킹 처리된 로그인 아이디 목록을 조회합니다.
      operationId: user-info/find-login-id
      parameters:
      - name: username
        in: query
        description: 회원 이름
        required: true
        schema:
          type: string
      - name: userEmail
        in: query
        description: 이메일 주소
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindUserIdResponse'
              examples:
                user-info/find-login-id:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 조회에 성공\
                    하였습니다.\",\"data\":{\"userIds\":[{\"id\":\"tes********\",\"provider\"\
                    :\"LOCAL\"}]}}"
                user-info/find-login-id-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 조회에 성공\
                    하였습니다.\",\"data\":{\"userIds\":[]}}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user-info/find-login-id-blank-username:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"username\",\"message\"\
                    :\"회원 이름은 필수 입력값입니다.\"}]}"
                user-info/find-login-id-invalid-email:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"userEmail\",\"message\"\
                    :\"올바른 이메일 형식을 입력해야 합니다.\"}]}"
  /v1/users/find/password:
    post:
      tags:
      - UserInfo
      summary: 비밀번호 찾기 이메일 발송
      description: "이름, 로그인 ID, 이메일로 본인 확인 후 비밀번호 재설정 이메일을 발송합니다."
      operationId: user-info/find-password
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FindPasswordRequest'
            examples:
              user-info/find-password:
                value: "{\"username\":\"홍길동\",\"userId\":\"testuser123\",\"userEmail\"\
                  :\"test@example.com\"}"
              user-info/find-password-blank-username:
                value: "{\"username\":\"\",\"userId\":\"testuser123\",\"userEmail\"\
                  :\"test@example.com\"}"
              user-info/find-password-invalid-email:
                value: "{\"username\":\"홍길동\",\"userId\":\"testuser123\",\"userEmail\"\
                  :\"invalid-email\"}"
              user-info/find-password-invalid-user-id:
                value: "{\"username\":\"홍길동\",\"userId\":\"abc\",\"userEmail\":\"\
                  test@example.com\"}"
              user-info/find-password-not-found:
                value: "{\"username\":\"홍길동\",\"userId\":\"testuser123\",\"userEmail\"\
                  :\"test@example.com\"}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                user-info/find-password:
                  value: "{\"success\":true,\"status\":201,\"message\":\"이메일 전송에 성\
                    공하였습니다.\",\"data\":null}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user-info/find-password-blank-username:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"username\",\"message\"\
                    :\"회원 이름은 비어있어서는 안됩니다.\"}]}"
                user-info/find-password-invalid-email:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"userEmail\",\"message\"\
                    :\"올바른 이메일 형식을 입력해야 합니다.\"}]}"
                user-info/find-password-invalid-user-id:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"userId\",\"message\"\
                    :\"아이디는 4자에서 16자 사이여야 합니다.\"}]}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user-info/find-password-not-found:
                  value: "{\"success\":false,\"status\":404,\"message\":\"존재하지 않는\
                    \ 사용자입니다.\",\"data\":null}"
  /v1/users/me/edit:
    get:
      tags:
      - User
      summary: 마이페이지 회원정보 조회 (수정용)
      description: 마이페이지 수정 화면에서 사용할 본인 정보를 조회합니다. 마스킹되지 않은 원본 전화번호와 provider를 함께
        내려주어 프론트가 비밀번호 변경 가능 여부를 판단할 수 있습니다.
      operationId: user/get-my-info-edit-local
      parameters:
      - name: Authorization
        in: header
        description: Bearer JWT 토큰
        required: true
        schema:
          type: string
        example: Bearer test-jwt-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyInfoEditResponse'
              examples:
                user/get-my-info-edit-local:
                  value: "{\"success\":true,\"status\":200,\"message\":\"회원 조회에 성공\
                    하였습니다.\",\"data\":{\"id\":null,\"provider\":\"LOCAL\",\"loginId\"\
                    :\"testuser\",\"userName\":\"홍길동\",\"userEmail\":\"test@example.com\"\
                    ,\"userPhoneNumber\":\"010-1234-5678\"}}"
  /v1/orders/{orderNumber}/cancel/partial:
    post:
      tags:
      - Order
      summary: 주문 부분 취소 - 항목 미선택
      description: orderDetailIds가 비어있으면 400 Bad Request를 반환합니다.
      operationId: order/cancel-partial-
      parameters:
      - name: orderNumber
        in: path
        description: 주문 번호
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/v1-orders-orderNumber-cancel-partial-1086755764'
            examples:
              order/cancel-partial-empty-ids:
                value: "{\"orderDetailIds\":[],\"cancelReason\":\"사이즈 오주문\"}"
              order/cancel-partial-invalid:
                value: "{\"orderDetailIds\":[10],\"cancelReason\":\"사이즈 오주문\"}"
              order/cancel-partial-success:
                value: "{\"orderDetailIds\":[10,11],\"cancelReason\":\"사이즈 오주문\"}"
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                order/cancel-partial-empty-ids:
                  value: "{\"success\":false,\"status\":400,\"message\":\"잘못된 입력값입\
                    니다.\",\"data\":null,\"errors\":[{\"field\":\"orderDetailIds\"\
                    ,\"message\":\"취소할 주문 항목을 하나 이상 선택해주세요.\"}]}"
                order/cancel-partial-invalid:
                  value: "{\"success\":false,\"status\":400,\"message\":\"유효하지 않은\
                    \ 취소 항목입니다.\",\"data\":null}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                order/cancel-partial-success:
                  value: "{\"success\":true,\"status\":200,\"message\":\"주문이 취소되었습\
                    니다.\",\"data\":null}"
  /v1/products/main/category/{categoryId}:
    get:
      tags:
      - Product
      summary: 메인 카테고리별 상품 조회
      description: 메인 페이지 카테고리별 상품 목록을 조회합니다. 등록일 기준 최신순으로 반환됩니다.
      operationId: products/main-category
      parameters:
      - name: categoryId
        in: path
        description: 카테고리 ID
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: 조회할 상품 수
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductMainCardListResponse'
              examples:
                products/main-category:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[{\"id\":1,\"categoryName\":\"TOP\",\"productName\"\
                    :\"루즈핏 티셔츠\",\"mainImageUrl\":\"http://example.com/main1.jpg\"\
                    ,\"hoverImageUrl\":\"http://example.com/hover1.jpg\",\"originalPrice\"\
                    :50000,\"sellingPrice\":40000,\"discountRate\":20,\"colorCodes\"\
                    :[\"#000000\",\"#FFFFFF\"]},{\"id\":2,\"categoryName\":\"TOP\"\
                    ,\"productName\":\"오버핏 니트\",\"mainImageUrl\":\"http://example.com/main2.jpg\"\
                    ,\"hoverImageUrl\":null,\"originalPrice\":39000,\"sellingPrice\"\
                    :39000,\"discountRate\":null,\"colorCodes\":[\"#8B5A2B\"]}]}"
                products/main-category-empty:
                  value: "{\"success\":true,\"status\":200,\"message\":\"조회에 성공하였습\
                    니다.\",\"data\":[]}"
  /v1/products/{productId}/reviews/stats:
    get:
      tags:
      - Product
      summary: 상품 리뷰 통계 조회
      description: "상품의 리뷰 통계를 조회합니다. 총 리뷰 수, 평균 별점, 별점별 리뷰 수를 반환합니다."
      operationId: product/product-review-stats
      parameters:
      - name: productId
        in: path
        description: 상품 ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReviewStatsResponse'
              examples:
                product/product-review-stats:
                  value: "{\"success\":true,\"status\":200,\"message\":\"리뷰 통계 조회에\
                    \ 성공하였습니다.\",\"data\":{\"totalCount\":15,\"averageRating\":4.3,\"\
                    ratingCounts\":{\"1\":0,\"2\":1,\"3\":2,\"4\":5,\"5\":7}}}"
components:
  schemas:
    ErrorResponse:
      title: ErrorResponse
      type: object
      properties:
        data:
          type: object
          description: 응답 데이터 (없음)
        success:
          type: boolean
          description: 성공 여부 (false)
        message:
          type: string
          description: 오류 메시지
        errors:
          type: array
          description: 필드 유효성 검증 오류 목록
          items:
            type: object
            properties:
              field:
                type: string
                description: 오류 필드명
              message:
                type: string
                description: 오류 메시지
        status:
          type: number
          description: HTTP 상태 코드 (400)
    v1-orders-confirm1031018359:
      type: object
      properties:
        amount:
          type: number
          description: 결제 금액
        orderId:
          type: string
          description: 주문 번호
        paymentKey:
          type: string
          description: 토스 결제키
    ReissueTokenResponse:
      title: ReissueTokenResponse
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken:
              type: string
              description: 새로 발급된 Access 토큰
            grantType:
              type: string
              description: 토큰 타입 (Bearer)
            refreshToken:
              type: object
              description: "Refresh 토큰 (응답 바디에는 포함되지 않음, Set-Cookie로 전달)"
          description: 토큰 정보
        success:
          type: boolean
          description: 성공 여부
        message:
          type: string
          description: 응답 메시지
        status:
          type: number
          description: HTTP 상태 코드
    CommonVoidResponse:
      title: CommonVoidResponse
      type: object
      properties:
        success:
          type: boolean
          description: 성공 여부
        message:
          type: string
          description: 응답 메시지
        status:
          type: number
          description: HTTP 상태 코드
    WishIdResponse:
      title: WishIdResponse
      type: object
      properties:
        data:
          type: object
          properties:
            wishId:
              type: number
              description: 생성된 위시리스트 ID (삭제 시 사용)
        success:
          type: boolean
          description: 성공 여부
        message:
          type: string
          description: 응답 메시지
        status:
          type: number
          description: HTTP 상태 코드
    ProductReviewStatsResponse:
      title: ProductReviewStatsResponse
      type: object
      properties:
        data:
          type: object
          properties:
            ratingCounts:
              type: object
              properties:
                "1":
                  type: number
                  description: 1점 리뷰 수
                "2":
                  type: number
                  description: 2점 리뷰 수
                "3":
                  type: number
                  description: 3점 리뷰 수
                "4":
                  type: number
                  description: 4점 리뷰 수
                "5":
                  type: number
                  description: 5점 리뷰 수
              description: 별점별 리뷰 수
            averageRating:
              type: number
              description: 평균 별점 (소수점 1자리)
            totalCount:
              type: number
              description: 총 리뷰 수
        success:
          type: boolean
          description: 성공 여부
        message:
          type: string
          description: 응답 메시지
        status:
          type: number
          description: HTTP 상태 코드
    MyInfoUpdateRequest:
      title: MyInfoUpdateRequest
      type: object
      properties:
        password:
          type: string
          description: 새 비밀번호
        phoneNumber:
          type: string
          description: 새 전화번호
        passwordConfirm:
          type: string
          description: 새 비밀번호 확인
        email:
          type: string
          description: 새 이메일
    JoinUserRequest:
      title: JoinUserRequest
      type: object
      properties:
        password:
          type: string
          description: 비밀번호
        address:
          type: object
          properties:
            zipCode:
              type: string
              description: 우편번호
            address:
              type: string
              description: 도로명 주소
            detailAddress:
              type: string
              description: 상세 주소
            alias:
              type: object
              description: 주소 별칭 (null 가능)
          description: 회원 주소 정보 (null 가능)
        phoneNumber:
          type: string
          description: 전화번호
        loginId:
          type: string
          description: 로그인 ID
        name:
          type: string
          description: 회원 이름
        email:
          type: string
          description: 이메일 주소
    SmsSendRequest:
      title: SmsSendRequest
      type: object
      properties:
        phoneNumber:
          type: string
          description: "인증번호를 받을 전화번호 (예: 010-1234-5678, 형식: 010-XXXX-XXXX)"
    CartUpdateRequest:
      title: CartUpdateRequest
      type: object
      properties:
        productDetailsId:
          type: number
          description: 변경할 상품 상세 ID
        quantity:
          type: number
          description: 변경할 수량
    WishListPageResponse:
      title: WishListPageResponse
      type: object
      properties:
        data:
          type: object
          properties:
            pageNumber:
              type: number
              description: 현재 페이지 번호
            last:
              type: boolean
              description: 마지막 페이지 여부
            totalPages:
              type: number
              description: 전체 페이지 수
            pageSize:
              type: number
              description: 페이지 크기
            content:
              type: array
              description: 위시리스트 항목 목록 (빈 배열)
              items:
                type: object
                properties:
                  discountRate:
                    type: object
                    description: 할인율 (%) - 할인 없으면 null
                  sellingPrice:
                    type: number
                    description: 판매가 (할인 없으면 정가와 동일)
                  wishListId:
                    type: number
                    description: 위시리스트 항목 ID (삭제 시 사용)
                  originalPrice:
                    type: number
                    description: 정가
                  productId:
                    type: number
                    description: 상품 ID
                  mainImageUrl:
                    type: string
                    description: 대표 이미지 URL
                  productName:
                    type: string
                    description: 상품명
            totalElements:
              type: number
              description: 전체 항목 수
        success:
          type: boolean
          description: 성공 여부
        message:
          type: string
          description: 응답 메시지
        status:
          type: number
          description: HTTP 상태 코드
    ProductPageResponse:
      title: ProductPageResponse
      type: object
      properties:
        data:
          type: object
          properties:
            pageNumber:
              type: number
              description: 현재 페이지 번호
            last:
              type: boolean
              description: 마지막 페이지 여부
            totalPages:
              type: number
              description: 전체 페이지 수
            pageSize:
              type: number
              description: 페이지 크기
            content:
              type: array
              description: 상품 목록 (빈 배열)
              items:
                type: object
                properties:
                  colorCodes:
                    type: array
                    description: "색상 코드 목록 (HEX 문자열 배열, 예: [\"#000000\", \"#FFFFFF\"\
                      ])"
                    items:
                      oneOf:
                      - type: object
                      - type: boolean
                      - type: string
                      - type: number
                  discountRate:
                    type: object
                    description: 할인율 % (할인 없을 시 null)
                  sellingPrice:
                    type: number
                    description: 판매가 (할인 미적용 시 정가와 동일)
                  originalPrice:
                    type: number
                    description: 정가
                  id:
                    type: number
                    description: 상품 ID
                  hoverImageUrl:
                    type: object
[...]
